{
  "root": true,
  "extends": [ 
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "ecmaVersion": 2018
    }
  },
  "rules": {
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "no-console": "warn",
    "new-cap": 0,
    "prefer-stateless-function": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "no-extraneous-dependencies": 0,
    "react/prop-types": 0,
    "consistent-return": 0,
    "arrow-parens": ["error", "as-needed"],
    "no-param-reassign": 0,
    "curly": ["error", "multi-line"],
    "no-shadow": ["error"],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "endOfLine": "crlf"
      }
    ],
    "comma-dangle": [1, "always-multiline"]
  }
}
