$primary_color: #eb211a;
$primary_font: Roboto;
$login_color: #888888;
$login_footer_text_color: #999999;
$primary_grey: #dde2e5;
$secondary_grey: #777777;
$primary_black: #333333;
$primary_white: #ffffff;
$primary_red: #eb211a;
$darker_red: rgb(216, 23, 17);
$darkest_red: #c25a51;
$login_error_red: #ee4c46;
